
.partners-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #CC0066;
}

.partners-header {
    text-align: center;
    margin-bottom: 40px;
}

.partners-header h1 {
    font-size: 48px;
    color: #CC0066;
    margin-bottom: 20px;
}

.partners-header p {
    font-size: 20px;
    line-height: 1.5;
    color: #131111;
    margin: 0 auto;
    max-width: 900px;
}

.partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.partners img {
    max-width: 120px;
    max-height: 120px;
}

footer {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

#partnerButton {
    background-color: #9999FF;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#partnerButton:hover {
    background-color: #6666FF;
}